#see_nearby_shops_container{
    margin-top:8px;
	overflow:auto;
}

#kyash_postcode_payment_sub{
	margin-left:5px;
	display:none;
}

#kyash_postcode_payment_sub label{
	font-size:11px;
	min-width:45px;
	padding:0;
}

#kyash_postcode_payment_sub input{
	height: 20px;
    text-align: center;
    width: 100px;
	font-size:11px;
}

#kyash_postcode_payment_sub button{
	height:20px;
	padding-top:0;
}

#kyash_postcode_payment_sub button span{
	height:18px;
}

#kyash_postcode_payment_sub button span span{
	font-size:11px;
}

#kyash_close{
	display:none;
	color:#333;
	margin-top:2px;
	margin-right:5px;
	font-weight:bold;
	font-size:12px;
}

#checkout-payment-method-load label{
	width:100%
}

#see_nearby_shops_container2{
	min-width: 250px;
	margin: 12px auto 32px;
	overflow:auto;
}