<?xml version="1.0"?>
<config>
    <modules>
       <Kyash_Kyash>
          <version>0.1.10</version>
       </Kyash_Kyash>
    </modules>
    <frontend>
        <routers>
            <kyash>
                <use>standard</use>
                <args>
                    <module>Kyash_Kyash</module>
                    <frontName>kyash</frontName>
                </args>
            </kyash>
        </routers>
		<layout>
            <updates>
                <kyash>
                    <file>kyash.xml</file>
                </kyash>
            </updates>
        </layout>
    </frontend>
    <global>
		<blocks>
            <kyash>
                <class>Kyash_Kyash_Block</class>
            </kyash>
        </blocks>
        <helpers>
            <kyash>
              <class>Kyash_Kyash_Helper</class>
            </kyash>
        </helpers>
        <models>
            <kyash>
                <class>Kyash_Kyash_Model</class>
            </kyash>
        </models>
		<resources>
            <kyash_setup>
                <setup>
                    <module>Kyash_Kyash</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kyash_setup>
            <kyash_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kyash_write>
            <kyash_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kyash_read>
        </resources>
		<events>
            <sales_order_payment_cancel>
               <observers>
                   <sales_order_save_after_kyash>
                       <class>kyash/observer</class>
                       <method>cancelled</method>
                   </sales_order_save_after_kyash>
               </observers>
            </sales_order_payment_cancel>
			<sales_order_shipment_save_after>
               <observers>
                   <sales_order_shipment_save_after_kyash>
                       <class>kyash/observer</class>
                       <method>shipped</method>
                   </sales_order_shipment_save_after_kyash>
               </observers>
            </sales_order_shipment_save_after>
        </events>
    </global>
    <admin>
        <routers>
	    	<kyash>
                <use>kyash</use>
                <args>
                    <module>Kyash_Kyash</module>
                    <frontName>kyash</frontName>
                </args>
            </kyash>
        </routers>
    </admin>
	
	<default>
		<payment>
			<kyash>
				<active>0</active>
                <model>kyash/kyash</model>
                <title>Pay by cash at a shop near me</title>
				<allowspecific>0</allowspecific>
				<instructions><![CDATA[Please pay at any of the authorized outlets before expiry. <br/>You need to mention only the KyashCode and may be asked for your mobile number during payment. No other details needed. <br/>Please wait for the confirmation SMS after payment. Remember to take a payment receipt. <br/>You can verify the payment status anytime by texting this KyashCode to +91 9243710000]]></instructions>
			</kyash>
		</payment>
	</default>
	
</config>